/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

footer{
    background: #e2dfdf;
    color: #000000;
}

.shape{
    border-radius: 50%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
